version: "3"
services:
  backend:
    container_name: spring_container
    image: jecer1997/app
    restart: always
    ports:
      - 8089:8089
    environment:
      MYSQL_HOST: mysqlCICD
      MYSQL_USER: root
      MYSQL_PASSWORD: root
  db:
    container_name: mysql_container
    image: mysql
    ports:
      - 3309:3306
    environment:
      MYSQL_DATABASE: achatdb
      MYSQL_ROOT_PASSWORD: root
